<%
  var srcRoot = '../../';
  var destRoot = '../';
  include(srcRoot + 'common/include/_config');
  var config = getConfig(srcRoot, destRoot);
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(srcRoot + 'common/include/_meta-head', {
  config: config,
  title: '下層ページ',
  css: 'css/index.css',
  js: 'js/script.js',
}); %>
<body>
  <%- include(config.srcRoot.pc + 'include/_header'); %>
  <div class="l-main theme-lower">
    <div class="common-module">Common module</div>
    <div class="page-item">Contents</div>
    <a href="../">Top page</a>
  </div>
  <%- include(config.srcRoot.pc + 'include/_footer'); %>
</body>
</html>