<%
  var srcPcRoot = '../';
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(srcPcRoot + '../common/include/_meta-head', {
  title: '下層ページ',
  css: srcPcRoot + 'css/index.css',
  js: srcPcRoot + 'js/script.min.js',
  rootPath: srcPcRoot
}); %>
<body>
  <%- include(srcPcRoot + 'include/_header'); %>
  <div class="l-main theme-lower">
    <div class="common-module">Common module</div>
    <div class="page-item">Contents</div>
    <a href="../">Top page</a>
  </div>
  <%- include(srcPcRoot + 'include/_footer'); %>
</body>
</html>