<!DOCTYPE html>
<html lang="ja">
<%- include('include/_meta-head', {title: ''}); %>
<body>
  <%- include('include/_header'); %>
  <div>Contents</div>
  <%- include('include/_footer'); %>
</body>
</html>