<%
  var srcPcRoot = '';
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(srcPcRoot + '../common/include/_meta-head', {
  css: srcPcRoot + 'css/index.css',
  js: srcPcRoot + 'js/script.min.js'
}); %>
<body>
  <%- include(srcPcRoot + 'include/_header'); %>
  <div class="l-main">
    <div class="common-module is-error">Common module</div>
    <div class="toppage-item">Contents</div>
    <a href="lower-page/page.html">Lower page</a>
  </div>
  <script type="text/javascript">
    var sample = new Sample({
      json: 'test.json'
    });
    sample.getJson();
  </script>
  <%- include(srcPcRoot + 'include/_footer'); %>
</body>
</html>